# SPDX-License-Identifier: GPL-2.0-only
config WLAN_VENDOR_ICOMMSEMI
	bool "ICOMMSEMI devices"
	default y
	help
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all the
	  questions about these cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_ICOMMSEMI

config SV6115
    tristate "ICOMMSEMI SV6115 USB WiFi"
    help
      This chip work through USB.
      You need to say Y if your board use this chip to implement wifi

endif # WLAN_VENDOR_ICOMMSEMI
