sample_add
sample_sub
sample_and
sample_xor
sample_or
sample_erode
sample_dilate
sample_thresh
sample_thresh_U16
sample_thresh_S16
sample_ordstatfilter
sample_resize
sample_sad
sample_ncc
sample_map
sample_lbp
sample_integ
sample_hist
sample_gradfg
sample_csc
sample_filter
sample_filterandcsc
sample_cannyhysedge
sample_cannyedge
sample_dma
sample_magandang
sample_bernsen
sample_sobel
sample_normgrad
sample_16bitto8bit
sample_stcandicorner
sample_framediffmotion
sample_gmm
sample_gmm2
sample_bgmodel
sample_query
