sample_16bitto8bit
sample_add
sample_and
sample_bernsen
sample_bgmodel
sample_cannyedge
sample_cannyhysedge
sample_csc
sample_dilate
sample_dma
sample_erode
sample_filter
sample_filterandcsc
sample_framediffmotion
sample_gmm
sample_gmm2
sample_gradfg
sample_hist
sample_integ
sample_lbp
sample_magandang
sample_map
sample_ncc
sample_normgrad
sample_or
sample_ordstatfilter
sample_query
sample_resize
sample_sad
sample_sobel
sample_stcandicorner
sample_sub
sample_thresh
sample_thresh_S16
sample_thresh_U16
sample_xor
