config AIC8800
	bool "AIC wireless Support"
	default n
	help
	  This is support for aic wireless chip.

config AIC_FW_PATH
	depends on AIC8800
	string "Firmware & config file path"
	default "/vendor/etc/firmware"
	#default "/lib/firmware/aic8800_sdio"
	help
	  Path to the firmware & config file.

if AIC8800
source "drivers/net/wireless/aicsemi/aic8800/aic8800_fdrv/Kconfig"
source "drivers/net/wireless/aicsemi/aic8800/aic8800_btlpm/Kconfig"
endif
