*.d
*.o
*.a
*.so
*.dep
*.dwo

lib
bin
include
tags

*_asan
sample/audio/sample_audio
sample/audio/sample_audio_aec
sample/audio/sample_audio_nr
sample/audio/sample_audio_resample
sample/audio/sample_audio_transcode
sample/audio/sample_audio_rtos
sample/cipher/sample_cipher
sample/cvg/sample_cvg
sample/mipi_tx/sample_dsi
sample/fisheye/sample_fisheye
sample/overlay/sample_overlay
sample/region/sample_region
sample/venc/sample_vcodec
sample/vdec/sample_vdec
sample/venc/sample_venc
sample/vio/sample_vio
sample/vdecvo/sample_vdecvo
sample/multivenc/sample_multivenc
sample/ir_auto/ir_auto
sample/ive/sample_16bitto8bit
sample/ive/sample_add
sample/ive/sample_and
sample/ive/sample_bernsen
sample/ive/sample_bgmodel
sample/ive/sample_cannyedge
sample/ive/sample_cannyhysedge
sample/ive/sample_csc
sample/ive/sample_dilate
sample/ive/sample_dma
sample/ive/sample_erode
sample/ive/sample_filter
sample/ive/sample_filterandcsc
sample/ive/sample_framediffmotion
sample/ive/sample_gmm
sample/ive/sample_gmm2
sample/ive/sample_gradfg
sample/ive/sample_hist
sample/ive/sample_integ
sample/ive/sample_lbp
sample/ive/sample_magandang
sample/ive/sample_map
sample/ive/sample_ncc
sample/ive/sample_normgrad
sample/ive/sample_or
sample/ive/sample_ordstatfilter
sample/ive/sample_query
sample/ive/sample_resize
sample/ive/sample_sad
sample/ive/sample_sobel
sample/ive/sample_stcandicorner
sample/ive/sample_sub
sample/ive/sample_thresh
sample/ive/sample_thresh_S16
sample/ive/sample_thresh_U16
sample/ive/sample_xor
sample/osdc/sample_osdc
sample/scene_auto/sample_scene_auto
sample/sensor_test/sensor_test

self_test/cvi_test/cvi_test
self_test/cvi_test/res
self_test/tpu/sample_tpu
self_test/vip_fpga/vip_fpga
self_test/vi_ut/vi_ut
self_test/vpss_ut/vpss_ut
self_test/vpss_ut/vpss_ut_client
self_test/vo_ut/vo_ut
self_test/rgn_ut/rgn_ut
self_test/dwa_ut/dwa_ut
self_test/vb_ut/vb_ut
self_test/sys_ut/sys_ut
self_test/fast_image_ut/fast_image_ut
self_test/audio/aud_auto_test_sample/cvi_auto_play
self_test/audio/aud_auto_test_sample/cvi_auto_record
self_test/audio/aud_auto_test_sample/cvi_auto_special
self_test/audio/audio_aec/sample_audio_aec
self_test/audio/audio_anr/sample_audio_nr
self_test/audio/audio_pcm/sample_audio_internal
self_test/audio/audio_resample/sample_audio_resample
self_test/audio/audio_transcode/sample_audio_transcode



modules/venc/vc/jpeg/driver/bm_jpg_test
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegdec
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegenc
modules/venc/vc/vcodec/codebase/cvi_h265_enc_test
modules/venc/vc/vcodec/codebase/cvi_h264_dec
modules/venc/vc/vcodec/codebase/cvi_h265_dec
modules/venc/vc/jpeg/driver/cvi_jpg_codec

modules/venc/vc/vcodec/codebase/sample/cvi_vcodec_version.h
modules/venc/vc/jpeg/driver/include/version.h

.vscode/settings.json

modules/isp
ko
