source "osdrv/extdrv/wireless/realtek/rtl8188f/Kconfig"
source "osdrv/extdrv/wireless/realtek/rtl8189fs/Kconfig"
source "osdrv/extdrv/wireless/realtek/rtl8723ds/Kconfig"
source "osdrv/extdrv/wireless/realtek/rtl8821cs/Kconfig"
